@mixin width(){
  width: 1650px;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
  @include res(s-m){
    padding-left: 20px;
    padding-right: 20px;
  }
}

@mixin  width-right(){
  padding-right: calc(50% - 775px);
  @media (max-width: 1835px) {
    padding-right: 50px;
  }
  @include res(s-m){
    padding-right: 20px;
  }
}

.width-wrapper-right{
  @include width-right;
}

$karantina: 'Karantina', sans-serif;
$rubik: 'Rubik', sans-serif;