.titles{
    display: flex;
    flex-wrap: wrap;
    h2 + .field--name-field-link{
        margin-right: 8px;
        &:before{
            content:"";
            height: 35px;
            width: 1px;
            background-color: #E9B43C;
            display: inline-block;
            margin-left: 8px;
        }
    }
    h2{
        font-size: 1.8em;
        font-family: $karantina;
        .front &{
            font-size: 2.7em;
            font-weight: 700;
        }
    }
    .field--name-field-link{
        display: flex;
        align-items: center;
        font-weight: 500;
        a{
            &:after{
                content: ">";
                margin-right: 4px;
            }
        }
    }
}