.paragraph--type--text-image .wrapper{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    .right{
        padding-right: calc(50% - 775px);
        width: 47%;
        box-sizing: border-box;
        padding-top: 90px;
        padding-bottom: 90px;
        @media (max-width: 1835px){
            padding-right: 50px;
        }
        .field--name-field-body{
            font-size: 1.2em;
            font-weight: 300;
        }
    }
    .left{    
        width: 48%;
        position: relative;
        .field--name-field-image{
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}