.paragraph--type--text-image .wrapper{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    .right{
        padding-right: calc(50% - 792px);
        width: 47%;
        box-sizing: border-box;
        padding-top: 90px;
        padding-bottom: 90px;
        @media (max-width: 1872px){
            padding-right: 50px;
        }
        @include res(s-m-l){
            @include width;
            width: 100%;
            z-index: 10;
            background: rgba(256,256,256,0.8);
        }
        .field--name-field-body{
            font-size: 1.2em;
            font-weight: 300;
            @include res(xl-xxl){
                font-size: 1em;
            }
            @include res(s-m-l){
                font-size: 1em;
            }
        }
    }
    .left{    
        width: 48%;
        position: relative;
        @include res(s-m-l){
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .field--name-field-image{
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}