.paragraph--type--view{
    padding-top: 70px;
    padding-bottom: 90px;
    .titles{
        @include width;
    }
    .view-events.view-display-id-block_1{
        //margin-right: calc(50% - 775px);
        margin-top: 70px;
        @media (max-width: 1835px){
            margin-right: 50px;
        }
        .owl-stage-outer .owl-stage{
            padding-right: calc(50% - 775px)!important;
        }
        .owl-controls{
            .owl-prev{
                display: none!important;
            }
        }
        .view-content{
            display: flex;
            position: relative;
            &:before{
                content:"";
                position: absolute;
                top: 11px;
                right: 0;
                width: 100%;
                height: 2px;
                background-color: #D7CFBB;
            }
            &:after{
                content:"";
                position: absolute;                 
                width: 200px;
                height: 100%;
                background: linear-gradient(-97deg, rgba(245, 244, 243, 0.00) 5.66%, #F5F4F3 94.85%);
                left: 0;
                top: 0px;
            }
            > .views-row{
                display: none;
                margin-left: 120px;
                width: 30%;
                &:nth-child(1), &:nth-child(2){
                    display: block;
                }
            }
            .views-row{
                .views-field-field-event-date{
                    padding-right: 60px;
                    margin-bottom: 30px;
                    &:before, &:after{
                        content: "";
                        position: absolute;                 
                    }
                    &:before{
                        width: 2px;
                        height: 138px;
                        background-color: #D7CFBB;
                        right: 30px;
                        top: 7px;
                    }
                    &::after{
                        width: 16px;
                        height: 16px;
                        background-color: #AA9867;
                        border-radius: 50%;
                        right: 23px;
                        top: 4px;
                    }
                    .field-content{
                        padding: 0 14px 0 50px;
                        background-color: #f5f4f3;
                        display: inline-block;
                    }
                }
                .views-field-rendered-entity{
                    position: relative;
                }
            }
        }
    }
}