.paragraph--type--view{
    &.results-0{
        display: none;
        &.view-id-search.view-display-block_1{
            display: block;
        }
    }
    .titles{
        @include width;
        margin-bottom: 30px;  
        @media (min-height: 670px) and (max-height: 800px){
            margin-bottom: 20px;
        }
    }
    .title-wrapper{
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .texts{
            display: flex;
        }
        .front &{
            margin-bottom: 70px;
        }
        @media (min-height: 670px) and (max-height: 800px){
            margin-bottom: 20px;
        }
    }
    .list-gallery{
        display: flex;
        align-items: flex-start;
        > div{
            display: flex;
            align-items: center;
            margin-right: 30px;
            padding-bottom: 8px;
            cursor: pointer;
            svg{
                margin-left: 8px;
            }
            &.active{
                border-bottom: 1px solid #B7A67F;
                pointer-events: none;
                cursor: default;
            }
        }
    }
    .grid-5{
        .view-content{
            display: flex;
            flex-wrap: wrap;
            .views-field-rendered-entity{
                height: 100%;
            }
            .views-row{
                width: calc(20% - 24px);
                margin-left: 30px;
                margin-bottom: 50px;
                &:nth-child(5n){
                    margin-left: 0;
                }
            }
        }
    }
    .view.list{
        .views-row{
            margin-bottom: 30px;
            article > div{
                flex-direction: row;
                .image{
                    margin-left: 30px;
                    img{
                        width: 300px;
                    }
                }
                .info{
                    margin-top: 10px;
                    .read-flag{
                        max-width: 250px;
                        flex-direction: column;
                        align-items: flex-start;
                        .read-more{
                            text-align: right;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
    .view-events.view-display-id-block_1{
        .splide__arrow--prev{
            right: -35px;
            @include res(s-m){
                right: -45px;
            }
            &:disabled{
                opacity: 0;
            }
        }
        .view-content-events{
            display: flex;
            position: relative;
            &:before{
                content:"";
                position: absolute;
                top: 11px;
                right: 0;
                width: 100%;
                height: 2px;
                background-color: #D7CFBB;
            }
            &:after{
                content:"";
                position: absolute;                 
                width: 100px;
                height: 100%;
                background: linear-gradient(to right, white, transparent);
                left: 0;
                top: 0px;
                @include res(s-m-l){
                    width: 50px;
                }
            }
            .splide__slide{
                @media (max-width:1750px){
                    font-size: 0.85em;
                }
                .field--name-field-thumbnail{
                    width: 100%;
                    img{
                        width: 100%;
                    }
                }
                .views-field-field-event-date{
                    padding-right: 60px;
                    margin-bottom: 30px;
                    white-space: nowrap;
                    &:before, &:after{
                        content: "";
                        position: absolute;                 
                    }
                    &:before{
                        width: 2px;
                        height: 138px;
                        background-color: #D7CFBB;
                        right: 30px;
                        top: 7px;
                    }
                    &::after{
                        width: 16px;
                        height: 16px;
                        background-color: #AA9867;
                        border-radius: 50%;
                        right: 23px;
                        top: 4px;
                    }
                    @include res(xxl){
                        padding-top: 2px;
                    }
                    @include res(s-m-l){
                        padding-top: 2px;
                        padding-right: 50px;
                        margin-bottom: 20px;
                    }
                    @include res(s){
                        font-size: 0.8em;
                        padding-top: 4px;
                    }
                    .field-content{
                        padding: 0 14px 0 50px;
                        background-color: #f5f4f3;
                        display: inline-block;
                        @include res(s-m-l){
                            padding: 0 10px 0 20px;
                        }
                    }
                }
                .views-field-rendered-entity{
                    position: relative;
                    height: calc(100% - 54px);
                    article{
                        height: 100%;
                        > div{
                            height: 100%;
                        }
                    }
                    a{
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        align-items: flex-start;
                        .read-more{
                            margin-top: auto;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.view-search.view-display-id-block_1, .view-search.view-display-id-block_2{
    @include width;
    padding-bottom: 40px;
    .splide__arrows{
        position: absolute;
        bottom: 20px;
        width: 200px;
        right: calc(50% - 100px);
        button{
            width: 34px;
            height: 34px;
        }
    }
    .search-counter-1, .search-counter-2{
        color: $blue;
        text-align: center;
        font-family: $karantina;
        font-size: 1.8em;
        font-weight: 300;    
        margin-top: 50px;                        
    }
    li{
        .views-field, .field-content{
            height: 100%;
            display: block;
        }
    }
}

.view-search.view-display-id-block_1{
    .view-filters{
        margin-bottom: 70px;
        form{
            display: flex;
            width: 565px;
            max-width: 100%;
            box-sizing: border-box;
            position: relative;
            font-size: 0.75em;
            .js-form-item{
                width: 100%;
                input{
                    width: 100%;
                    border-radius: 10px;
                    border: 3px solid #B9A981;
                    background: rgba(245, 244, 243, 0.95);
                    height: 70px;
                    padding: 0 30px 0 80px;
                }
            }
            .form-submit{
                position: absolute;
                left: 20px;
                top: 15px;
                background: url(/themes/yadlabanim/images/search-black.svg) no-repeat center center;
                border: none;
                text-indent: -9999px;
                padding: 0;
                width: 40px;
                height: 40px;
                cursor: pointer;
            }
        }
    }
}

.view-fallen.view-display-id-block_1, .view-fallen.view-display-id-block_2{
    nav.pager{
        opacity: 0;
    }
    .view-content{
        opacity: 0;
    }
    .view-empty{
        margin-bottom: 100px;
    }
    .view-filters{
        width: 640px;
        max-width: 100%;
        margin: -135px auto 70px;
        position: relative;
        input:not(.form-submit), select, .filter-icon, .form-checkboxes .form-checkboxes{
            border-radius: 10px;
            box-sizing: border-box;   
        }
        .main-search{
            display: flex;
            justify-content: space-between;
            position: relative;
            .js-form-type-textfield{
                width: calc(100% - 86px);
                input{
                    height: 70px;
                    padding: 0 32px 0 60px;
                    background-color: #FFFAF8;
                    width: 100%;
                    border: 3px solid #B9A981;
                    background: #FFFAF8; 
                }
            }
            .search-icon{
                position: absolute;
                left: 104px;
                top: 17px;
                cursor: pointer;
                width: 30px;
                height: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .filter-icon{
                height: 70px;
                width: 70px;
                background-color: #FFFAF8;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                border: 3px solid #B9A981;
            }
        }
        .filters-wrapper{
            position: absolute;
            width: 100%;
            border-radius: 15px;
            background: #FFF;
            box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.57);
            margin-top: 8px;
            padding: 20px 30px;
            box-sizing: border-box;
            font-size: 0.8em;
            .filters{
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                > [id^=edit-submit]{
                    order: 100;
                    border-radius: 10px;
                    border: 2px solid #473F52;
                    background: #E1DCC7;
                    width: 110px;
                    height: 40px;
                    margin-top: 18px;
                    cursor: pointer;
                }
                > [id^=edit-reset]{
                    text-decoration: underline;
                    margin-left: 10px;
                    border: none;
                    background: none;
                    margin-top: 18px;
                    cursor: pointer;
                }
                > .js-form-item, > [id^=edit-field-gender]{
                    margin-left: 20px;
                    margin-bottom: 16px;
                    width: calc(33.333% - 14px);
                    position: relative;
                    &:nth-child(3n){
                        margin-left: 0;
                    }
                }
                > .js-form-item{
                    input:not(.form-checkbox), select, .form-checkboxes .form-checkboxes{
                        border: 2px solid #B9A981;
                        height: 40px;
                        width: 100%;
                        padding: 0 16px;
                        box-sizing: border-box;
                        background-color: #fff;
                        [value='0']{
                            display: none;
                        }
                    }
                    &.js-form-type-select{
                        label{
                            position: absolute;
                            top: 11px;
                            right: 17px;
                            background-color: #fff;
                            pointer-events: none;
                        }
                        &.input-full{
                            label{
                                display: none;
                            }
                        }
                    }
                }
                .form-checkboxes{
                    .form-checkboxes{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .js-form-item{
                            position: relative;
                            box-sizing: border-box;
                            width: 50%;
                            label{
                                border-radius: 10px;
                                box-sizing: border-box;
                                cursor: pointer;
                                padding: 7px 16px;
                            }
                            input{
                                position: absolute;
                                right: 0px;
                                opacity: 0;
                                &:checked + label{
                                    border: 2px solid #B9A981;
                                    background: #E1DCC7;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}