.paragraph--type--view{
    .titles{
        @include width;
    }
    .view-events.view-display-id-block_1{
        margin-top: 70px;
        .splide__arrow--prev{
            right: -35px;
            @include res(s-m){
                right: -45px;
            }
            &:disabled{
                opacity: 0;
            }
        }
        .view-content-events{
            display: flex;
            position: relative;
            &:before{
                content:"";
                position: absolute;
                top: 11px;
                right: 0;
                width: 100%;
                height: 2px;
                background-color: #D7CFBB;
            }
            &:after{
                content:"";
                position: absolute;                 
                width: 100px;
                height: 100%;
                background: linear-gradient(to right, white, transparent);
                left: 0;
                top: 0px;
                @include res(s-m-l){
                    width: 50px;
                }
            }
            .splide__slide{
                @media (max-width:1750px){
                    font-size: 0.85em;
                }
                .field--name-field-thumbnail{
                    width: 100%;
                    img{
                        width: 100%;
                    }
                }
                .views-field-field-event-date{
                    padding-right: 60px;
                    margin-bottom: 30px;
                    white-space: nowrap;
                    &:before, &:after{
                        content: "";
                        position: absolute;                 
                    }
                    &:before{
                        width: 2px;
                        height: 138px;
                        background-color: #D7CFBB;
                        right: 30px;
                        top: 7px;
                    }
                    &::after{
                        width: 16px;
                        height: 16px;
                        background-color: #AA9867;
                        border-radius: 50%;
                        right: 23px;
                        top: 4px;
                    }
                    @include res(xxl){
                        padding-top: 2px;
                    }
                    @include res(s-m-l){
                        padding-top: 2px;
                        padding-right: 50px;
                        margin-bottom: 20px;
                    }
                    @include res(s){
                        font-size: 0.8em;
                        padding-top: 4px;
                    }
                    .field-content{
                        padding: 0 14px 0 50px;
                        background-color: #f5f4f3;
                        display: inline-block;
                        @include res(s-m-l){
                            padding: 0 10px 0 20px;
                        }
                    }
                }
                .views-field-rendered-entity{
                    position: relative;
                    height: calc(100% - 54px);
                    article{
                        height: 100%;
                        > div{
                            height: 100%;
                        }
                    }
                    a{
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        align-items: flex-start;
                        .read-more{
                            margin-top: auto;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}