{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    label_display == 'inline' ? 'clearfix',
    'splide__track',
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}


      <div{{ attributes.addClass(classes) }}>
        <ul class="splide__list">
          {% for item in items %}
            <li{{ item.attributes.addClass('splide__slide') }}>{{ item.content }}</li>
          {% endfor %}
        </ul>
      </div>
