header{
  .menu-side-wrapper{
    position: fixed;
    width: 185px;
    padding: 24px 0;
    background-color: #322C3A;
    box-sizing: border-box;
    display: flex;
    z-index: 401;
    right: 0;
    font-family: $karantina;
    height: 100%;
    flex-direction: column;
    border-left: 1px solid #000; 
    color: #fff;
    top: 0;
    transition: all 0.5s;
    @media (max-height: 630px) {
      overflow-y: auto;
      overflow-x: hidden;
      .sub-menu-open &{
        overflow: visible;
      }
    }
    @include res(s-m-l){
      right: -200px;
    }
    .wrapper{
      width: 185px;
      box-sizing: border-box;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    .gin--vertical-toolbar &{
      right: 66px;
      @include res(s-m-l){
        right: -200px;
      }
    }
    .bottom{
      margin-top: auto;
      font-size: 1.9em;
      color: #B7A67F;
      padding: 0 24px;
      transition: all 0.5s;
      @media (max-height: 770px) {
        font-size: 1.35em;
      }
      .search-button{
        cursor: pointer;
        .text{
          background: url(/themes/yadlabanim/images/search.svg) no-repeat left top 13px;
          display: inline-block;
          padding-left: 35px;
          @media (max-height: 770px) {
            background-position: left top 8px;
            background-size: 17px;
            padding-left: 25px;
          }
        }
      }
      .search-area{
        position: fixed;
        bottom: 0;
        border-top: 1px solid #AB9C7A;
        background: #322C3A;
        width: calc(100% - 185px);
        padding: 48px 0;
        left: 0;
        display: none;
        .gin--vertical-toolbar &{
          width: calc(100% - 250px);
        }
        form{
          display: flex;
          margin: 0 45px;
          width: 1530px;
          max-width: calc(100% - 90px);
          box-sizing: border-box;
          position: relative;
          font-size: 0.75em;
          .js-form-item{
            width: 100%;
            input{
              width: 100%;
              border-radius: 10px;
              border: 3px solid #B9A981;
              background: rgba(245, 244, 243, 0.95);
              height: 70px;
              padding: 0 30px 0 80px;
            }
          }
          .form-submit{
            position: absolute;
            left: 20px;
            top: 15px;
            background: url(/themes/yadlabanim/images/search-black.svg) no-repeat center center;
            border: none;
            text-indent: -9999px;
            padding: 0;
            width: 40px;
            height: 40px;
            cursor: pointer;
          }
        }
      }
      &.search-open{
        .search-button{
          .text{
            background: url(/themes/yadlabanim/images/close-search.svg) no-repeat left top 15px;
            @media (max-height: 770px) {
              background-position: left top 10px;
              background-size: 15px;
            }
          }
        }
        .search-area{
          display: block;
        }
      }
    }
    .top{
      width: 100%;
      transition: all 0.5s;
      .logo{
        text-align: center;
        img{
          @media (max-height: 770px) {
            width: 60px;
          }
        }
      }
    }
    .center{
      font-size: 1.9em;
      transition: all 0.5s;
      .contextual-region{
        position: initial;
      }
      li{
        list-style: none;
      }
      ul.menu-level-0{
        list-style: none;
        margin: 30px 0 0;
        padding: 0;
        > li{
          padding: 0 24px 0 18px;
          margin-bottom: 13px;
          @media (max-height: 770px) {
            margin-bottom: 8px;
          }
          > span{
            cursor: pointer;
          }
          a{
            color: #fff;
          }
          .field--name-field-subtitle{
            font-size: 0.85em;
            font-weight: 300;
          }
          &.nizkor{
            margin-bottom: 40px;
            padding: 10px 18px;
            background: url(/themes/yadlabanim/images/nizkor.gif) no-repeat left 45px top 10px #A99B77;
            background-size: 23px;
            @media (max-height: 770px) {
              margin-bottom: 20px;
            }
          }
          &:not(.nizkor){
            @media (max-height: 770px) {
              font-size: 0.9em;
            }
          }
          ul{
            position: absolute;
            right: 185px;
            height: 100%;
            background-color: #322C3A;
            top: 0;
            padding: 0;
            transition: all 0.5s;
            width: 0;
            overflow: hidden;
            .wrapper{
              padding: 301px 25px 0 50px;
              width: 278px;
              box-sizing: border-box;
              .close-menu{
                position: absolute;
                top: 28px;
                left: 20px;
                cursor: pointer;
                width: 50px;
                height: 50px;
              }
              .menu-parent-title{
                border-bottom: 1px solid #B9A981;
                padding-bottom: 8px;
                margin-bottom: 40px;
              }
              .menu-item{
                font-family: $rubik;
                font-size: 0.5em;
                font-weight: 300;
                margin-bottom: 25px;
                &:last-child{
                  margin-bottom: 0;
                }
              }
            }
          }
          &.to-be-removed{
            ul{
              opacity: 0;
            }
          }
          &.open-sub-menu{
            ul{
              width: 278px;
            }
          }
        }
      }
    }
  }
}

/*********  responsive menu  *********/

#menu-toggle {
    width:24px;
    height:17px;
    cursor:pointer;
    transition: all 0.5s;
    position: relative;
    #hamburger {
      span {
        border-radius: 10px;
        height:3px;
        margin:0px 0 5px;
        display: block;
        background-color: $bggold;
        box-sizing:border-box;
        &:nth-child(1){
          width:24px;          
        }
        &:nth-child(2){
          width:18px;
        }
        &:nth-child(3){
          width:12px;
        }
      }
    }
    #cross {
      height: 100%;
      width: 100%;
      transform: rotate(45deg);
      right: 8px;
      z-index: 1000;
      position: absolute;
      top: 0;
      span{
        border-radius: 10px;
        display: block;
        background-color: $bggold;
        transition:.25s ease-in-out;
        box-sizing:border-box;
        &:nth-child(1){
          height:0;
          width:3px;
          position:absolute;
          left:19px;
          top: -7px;
        }
        &:nth-child(2){
          width:0%;
          height:3px;
          position:absolute;
          left:8px;
          top: 4px;
        }
      }
    }
  }
  
.open-menu{
  overflow: hidden;
  header .menu-side-wrapper {
    right: 0px;
  }
  #menu-toggle {
    #hamburger {
      span {
        width:0%;
      }
    }
    #cross {
      span {
        &:nth-child(1){
          height:24px;
        }
      }
      span {
        &:nth-child(2){
          width:24px;
        }
      }    
    }
  }
}

.top-bar.only-mobile{
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  .logo{
    width: 52px;
  }
}

header.close-side-menu{
  .menu-side-wrapper{
    width: 100px;
    overflow: hidden;
    .wrapper{
      .top{
        width: 100px;
      }
      .center, .bottom{
        opacity: 0;
        pointer-events: none;
      }
    }
  }
  .open-close-arrow{
    right: 81px;
    .gin--vertical-toolbar &{
      right: 146px;
    }
  }
}

header{
  .open-close-arrow{
    position: fixed;
    top: calc(50% - 19px);
    cursor: pointer;
    right: 81px;
    z-index: 1000;
    transition: all 0.5s;
  }
}

header.open-side-menu{
  &:not(.side-menu-activated){
      .menu-side-wrapper{
        overflow: hidden;
      }
  }
  .menu-side-wrapper{
    .wrapper{
      .center, .bottom{
        opacity: 1;
        pointer-events: initial;
      }
    }
  }
  .open-close-arrow{
    right: 165px;
    .gin--vertical-toolbar &{
      right: 230px;
    }
    .sub-menu-open &{
      right: 444px;
    }
    .sub-menu-open.gin--vertical-toolbar &{
      right: 509px;
    }
  }
}