.page-node-fallen{
    .region-message{
        text-align: center;
    }
}

.node--type-fallen.node--view-mode-full{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    .width-wrapper-right {
        padding-right: calc(100% - 931px);
        padding-left: 70px;
        @media (max-width: 1872px) {
            padding-right: 135px;
        }
    }
    > .left{
        background: url(/themes/yadlabanim/images/fire-bg.svg) no-repeat left 5vh bottom 5vh #dfdcc9;
        width: 40%;
        height: 100vh;
        position: sticky;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: auto 70vh;
        z-index: 0;
    }
    > .right{
        width: 60%;
        z-index: 0;
        .top-area{
            background-color: #fff;
            padding-bottom: 50px;
            position: relative;
            .type{
                font-weight: 500;
                padding: 5px 13px;
                border: 1px solid #B9A981;
                border-radius: 12px;
                display: inline-block;
            }
            .title-wrapper{
                display: flex;
                align-items: flex-end;
                margin-top: 20px;
                margin-bottom: 20px;
                h1{
                    margin: 0;
                }
                span{
                    font-family: $karantina;
                    font-size: 1.75em;
                    margin: 0 10px 4px 0;
                }
            }
            .teaser{
                font-size: 1.2em;
            }
            .flag-facebook{
                position: absolute;
                left: 80px;
                bottom: -24px;
                display: flex;
                align-items: center;
                .facebook-share-button a, .flag a{
                       border-radius: 10px;
                        border: 2px solid $bglightgold;
                        background: #B9A981;
                        display: flex;
                        align-items: center;
                        font-weight: 500;
                        color: #fff;
                        padding: 0 16px;
                        height: 48px;
                        margin-right: 8px;
                        box-sizing: border-box;
                }
                .flag{
                    position: relative;
                    a{
                        &:after{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            content: "";
                            background: url(/themes/yadlabanim/images/candle.png) no-repeat center #E7B153;
                            margin-right: 9px;
                        }
                    }
                    &.action-unflag{
                        a{
                            pointer-events: none;
                            &:before{
                                content: "";
                                position: absolute;
                                background: url(/themes/yadlabanim/images/nizkor.gif) no-repeat;
                                width: 18px;
                                height: 31px;
                                background-size: 100%;
                                left: 29px;
                                top: -5px;
                            }
                        }
                    }
                }
                .facebook-share-button{
                    svg{
                        margin-right: 9px;
                    }
                }
            }
        }
        .tabs{
            margin-top: 100px;
            .menu-tabs{
                position: sticky;
                top: 30px;
                z-index: 200;
                ul{
                    padding: 0;
                    margin: 0;
                    display: flex;
                    flex-wrap: wrap;
                    list-style: none;
                    li{
                        a{
                            border-radius: 10px;
                            border: 1px solid #473F52;
                            background: #fff;
                            box-shadow: 0 11px 13px 2px #E1DCC7;
                            padding: 2px 20px;
                            height: 48px;
                            display: flex;
                            align-items: center;
                            margin-left: 20px;
                            box-sizing: border-box;
                            &.active{
                                background: #E1DCC7;
                            }
                        }
                    }
                }
            }
            .content-tabs{
                .content-tab > .field{
                    padding-top: 70px;
                    > .field__label{
                        font-family: $karantina;
                        font-size: 1.8em;
                        border-bottom: 1px solid $blue;
                        padding-bottom: 2px;
                        margin-bottom: 30px;
                    }
                }
                #body{
                    .field--name-body{
                        .field__item{
                            max-width: 730px;
                        }
                        .field__item{
                            overflow: hidden;
                            transition: height 0.5s;
                        }
                    }
                    .read-more{
                        color: $blue;
                        cursor: pointer;
                        background-color: #FBF6EB;
                        padding-top: 10px;
                    }
                }
                #images{
                    .gallery{
                        .splide__arrows{
                            position: absolute;
                            bottom: 20px;
                            width: 200px;
                            right: calc(50% - 100px);
                            button{
                                width: 34px;
                                height: 34px;
                            }
                        }
                        .field--name-thumbnail{
                            cursor: pointer;
                            &:after{
                                content: "";
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                background: url(/themes/yadlabanim/images/video-play.svg) no-repeat center;
                                top: 0;
                                left: 0;
                            }
                        }
                        .field--name-field-media-images{
                            > .field__items{
                                display: flex;
                                > .field__item{
                                    &:nth-child(1), &:nth-child(2){
                                        display: block;
                                    }
                                }
                            }
                        }
                        img, video{
                            cursor: pointer;
                        }
                        .field--name-field-media-video-file{
                            position: relative;
                            cursor: pointer;
                            video{
                                height: 230px;
                                width: auto;
                            }
                            .field__item:after{
                                    content: "";
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    background: url(/themes/yadlabanim/images/video-play.svg) no-repeat center;
                                    top: 0;
                                    left: 0;
                            }
                        }
                        .splide-counter{
                            color: $blue;
                            text-align: center;
                            font-family: $karantina;
                            font-size: 1.8em;
                            font-weight: 300;    
                            margin-top: 25px;                        
                        }
                    }
                    .lightbox{
                        .splide-counter-lightbox{
                            color: #fff;
                            text-align: center;
                            font-family: $karantina;
                            font-size: 1.8em;
                            font-weight: 300;
                        }
                        .relevant-title{
                            padding-top: 10px;
                            min-height: 80px;
                            color: #fff;
                            font-weight: 500;
                            text-align: center;
                        }
                        .splide__arrows.splide__arrows--rtl, .splide__arrows.splide__arrows--ltr{
                            .splide__arrow--next{
                                left: -80px;
                                margin-top: -60px;
                            }
                            .splide__arrow--prev{
                                right: -80px;
                                margin-top: -60px;
                            }
                        }
                        .wrapper{
                            padding-bottom: 50px;
                        }
                        .splide{
                            max-width: 90%;
                            width: 1000px;
                            height: 100%;
                            .splide__slide{
                                background-color: rgba(0,0,0,0.6);
                            }
                            img, video {
                                max-width: 100%;
                                max-height: calc(100vh - 300px);
                                width: auto;
                                height: auto;
                                margin: 0;
                            }
                            .field--name-field-media-oembed-video iframe{
                                width: 100%;
                                height: calc(100vh - 300px);    
                                object-fit: contain;                            
                            }
                            li{
                                overflow: hidden;
                                > div{
                                    height: 100%;
                                    > .field{
                                        height: 100%;
                                        > .field__item{
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            height: 100%;                                           
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                #resting-place{
                    .content{
                        font-weight: 300;
                        .cemetery-name{
                            margin-bottom: 10px;
                        }
                        .places{
                            margin-bottom: 20px;
                            .field{
                                display: flex;
                                line-height: 1.5;
                                .field__label{
                                    width: 70px;
                                    &:after{
                                        content: ":";
                                        margin-left: 5px;
                                    }
                                }
                            }
                        }
                        .navigate{
                            margin-top: 30px;
                            a{
                                background: url(/themes/yadlabanim/images/navigate.png) no-repeat right center;
                                padding-right: 28px;
                                text-decoration: underline;

                            }
                        }
                    }
                }
                .pager--load-more{
                    text-align: center;
                    margin-top: 30px;
                    font-weight: 300;
                    ul{
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        font-weight: 500;
                        a{
                            background: url(/themes/yadlabanim/images/readmore.svg) no-repeat top 4px left;
                            padding-left: 25px;
                            color: $blue;
                        }
                    }
                }
                #dedication{
                    .button-add{
                        text-align: left;
                        button{
                            border-radius: 10px;
                            border: 1px solid #473F52;
                            background: #E1DCC7;
                            font-weight: 300;
                            font-size: 0.8em;
                            align-items: center;
                            display: flex;
                            margin-right: auto;
                            padding: 10px 8px 10px 4px;
                            cursor: pointer;
                        }
                    }
                    .view-comment.view-display-id-block_1{
                        margin-top: 25px;
                        color: $blue;
                        font-weight: 300;
                        .views-row{
                            border-radius: 20px;
                            background: #FFF;
                            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.07);                            
                            padding: 30px;
                            margin-bottom: 16px;
                            .views-field-field-author, .views-field-created{
                                font-size: 0.8em;
                                margin-top: 10px;
                            }
                        }
                    }
                    .lightbox{
                        form{
                            .js-form-type-textarea{
                                border-radius: 7px;
                                border: 2px solid #B9A981;
                                background: #FFFAF8;
                                padding: 9px 20px;
                                position: relative;
                                label{
                                    display: none;
                                }
                                textarea{
                                    resize: none;
                                    border: none;
                                    outline: none;
                                    background: transparent;
                                    z-index: 1;
                                    position: relative;
                                    height: 180px;
                                    padding: 5px 0;
                                    line-height: 1.3;
                                    font-weight: 300;
                                    font-size: 0.9em;
                                    width: 100%;
                                }
                                .description{
                                    .placeholder{
                                        position: absolute;
                                        top: 15px;
                                        font-weight: 300;
                                    }
                                    ul{
                                        position: absolute;
                                        bottom: 22px;
                                        z-index: 1;
                                        display: flex;
                                        list-style: none;
                                        flex-wrap: wrap;
                                        padding: 0;
                                        margin: 0;
                                        font-size: 0.75em;
                                        font-weight: 300;
                                        li{
                                            border-radius: 8px;
                                            border: 1px solid #B9A981;
                                            background: #FFF;
                                            box-shadow: 0 3px 10px 2px #E1DCC7;
                                            padding: 8px 12px;
                                            margin-left: 12px;
                                            margin-bottom: 12px;
                                            cursor: pointer;
                                        }
                                    }
                                    .counter{
                                        text-align: left;
                                        font-weight: 300;
                                        font-size: 0.6em;
                                        display: block;
                                    }
                                }
                                &.input-full{
                                    .description{
                                        .placeholder{                                
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                #shared-memory{
                    .view-content{
                        display: flex;
                        flex-wrap: wrap;
                        .views-row{
                            width: calc(33.33% - 30px);
                            margin-left: 30px;
                            border-radius: 4px;
                            background: #FFF;
                            box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.07);
                            position: relative;
                            margin-bottom: 50px;
                            &:nth-child(3n){
                                margin-left: 0px;
                            }
                            .views-field-field-memory-type{
                                position: absolute;
                                font-size: 0.6em;
                                font-weight: 500;
                                border-radius: 8.461px;
                                background: #DCD6BD;
                                padding: 4px 10px;
                                top: 15px;
                                right: 15px;
                                z-index: 10;
                            }
                            .views-field-created{
                                font-size: 0.7em;
                                font-weight: 200;
                                padding: 10px 15px 15px;
                                .field-content{
                                    display: flex;
                                    justify-content: space-between;
                                }
                            }
                            .views-field-field-file-1{
                                .pdfpreview-image-wrapper{
                                    .file{
                                        display: none;
                                        + span{
                                            display: none;
                                        }
                                    }
                                }
                            }
                            .views-field-field-file{
                                .lightbox-wrapper{
                                    position: relative;
                                    .lightbox-open{
                                        cursor: pointer;
                                        &:after{
                                            content: "";
                                            background: url(/themes/yadlabanim/images/video-play.svg) no-repeat center;
                                            width: 40px;
                                            height: 40px;
                                            background-size: 100%;
                                            position: absolute;
                                            top: calc(50% - 20px);
                                            right: calc(50% - 20px);
                                        }
                                        video{
                                            width: 100%;
                                            aspect-ratio: 260 / 150;
                                            object-fit: cover;
                                        }
                                    }
                                    .lightbox{
                                        video{
                                            max-height: 73vh;
                                            max-width: 100%;
                                            object-fit: contain;
                                        }
                                    }
                                }
                                .video{
                                    .wrapper{
                                        text-align: center;
                                    }
                                }
                                .audio{
                                    position: relative;
                                    .wrapper{
                                        width: 100%;
                                        aspect-ratio: 260 / 150;
                                        background: linear-gradient(to bottom, #b5ac90, #dfdcc9);
                                        display: flex;
                                        align-items: flex-end;
                                        position: relative;
                                        &:after{
                                            content: "";
                                            background: url(/themes/yadlabanim/images/video-play.svg) no-repeat center;
                                            width: 40px;
                                            height: 40px;
                                            background-size: 100%;
                                            position: absolute;
                                            top: calc(50% - 20px);
                                            right: calc(50% - 20px);
                                        }
                                        audio{
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        footer{
            margin-top: 150px;
            background: url(/themes/yadlabanim/images/fire-bg.svg) no-repeat left 220px bottom #E1DCC7;
            z-index: 1000;
            .width-wrapper-right{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 45px;
                padding-bottom: 45px;
                .right{
                    .name{
                        font-size: 2.7em;
                        font-weight: 700;
                        font-family: $karantina;
                        span{
                            font-weight: 400;
                            font-size: 0.65em;
                        }
                    }
                    .description{
                        font-size: 1.2em;
                        font-weight: 300;
                    }
                }
                .left{
                    button{
                        width: 188px;
                        padding: 0;
                        height: 48px;
                        border: none;
                        border-radius: 100px;
                        background: rgba(169,155,119,0.8);
                        color: #fff;
                        cursor: pointer;
                    }
                    form{
                        .js-form-item-field-author-0-value, .js-form-item-field-phone-0-value{
                            width: 48%;
                        }
                        .js-form-type-textarea{
                            border-radius: 7px;
                            border: 2px solid #B9A981;
                            background: #FFFAF8;
                            padding: 9px 20px;
                            position: relative;
                            height: 100px;
                            font-size: 0.7em;
                            margin-top: 20px;
                            label{
                                display: none;
                            }
                            textarea{
                                resize: none;
                                border: none;
                                outline: none;
                                background: transparent;
                                z-index: 1;
                                position: relative;
                                height: 180px;
                                padding: 5px 0;
                                line-height: 1.3;
                                font-weight: 300;
                                font-size: 0.9em;
                                width: 100%;
                                height: 82px;
                                padding-bottom: 0;
                            }
                            .description{
                                .placeholder{
                                    position: absolute;
                                    top: 15px;
                                    font-weight: 300;
                                }
                                .counter{
                                    text-align: left;
                                    font-weight: 300;
                                    font-size: 0.9em;
                                    display: block;
                                }
                            }
                            &.input-full{
                                .description{
                                    .placeholder{                                
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.lightbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.80);
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 1001;
    &.show{
        display: flex;
    }
    h2{
        font-family: $karantina;
        font-size: 1.8em;
        font-weight: 700;
        margin-bottom: 15px;
    }
    .remark{
        font-size: 0.8em;
        font-weight: 300;
        text-align: center;
        margin-top: 15px;
    }
    .close{
        text-align: left;
        padding-left: 56px;
        img{                                    
            cursor: pointer;
        }
    }
    .top-description{
        border-radius: 7px;
        background: #B9A981;
        font-size: 0.9em;
        padding: 15px;
        font-weight: 300;
        margin-bottom: 20px;
    }
    &.simple .wrapper{
        position: relative;
        box-sizing: border-box;
        width: 650px;
        .close{
            padding-left: 0;
        }
        .inside{
            box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.07);
            border-radius: 13px;
            background: #FFF;
            padding: 20px 35px;
            margin: 0 40px;
            max-height: calc(80vh - 80px);
            overflow: auto;
        }
    }
    form{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        #ajax-wrapper{
            width: 100%;
        }
        .js-form-type-managed-file{
            position: relative;
            label{
                border-radius: 7px;
                border: 2px solid #B9A981;
                background: #FFFAF8;
                padding: 15px 20px;
                height: 55px;
                font-weight: 300;
                font-size: 0.9em;
                display: block;
                box-sizing: border-box;
            }
            .js-form-managed-file{
                font-weight: 300;
                font-size: 0.8em;
                input[id*=upload]{
                    height: 55px;
                    position: absolute;
                    width: 100%;
                    top: 0;
                    opacity: 0;
                    cursor: pointer;
                }
                input[id*=emove-button]{
                    background: url(/themes/yadlabanim/images/rubbish.png) no-repeat center;
                    text-indent: -9999px;
                    border: none;
                    background-size: 100%;
                    width: 23px;
                    height: 27px;
                    cursor: pointer;
                }
            }
            .description{
                font-size: 0;
                border: 1px solid rgba(82, 88, 86, 0.24);
                border-right: 2px solid #B9A981;
                margin-top: 5px;
                padding: 8px; 
                .show{
                    font-size: 16px;
                    font-weight: 300;
                    display: block;
                }
            }
            &.has-file{
                label, .description{
                    display: none;
                }
            }
        }
        .captcha-type-challenge--recaptcha{
            margin-top: 20px;
        }
        .js-form-type-textfield, .js-form-type-email{
            margin-top: 24px;
            position: relative;
            label{
                font-size: 0.9em;
                font-weight: 300;
                position: absolute;
                top: 16px;
                right: 22px;
                transition: all 0.5s;
                cursor: text;
            }
            input{
                border-radius: 7px;
                border: 2px solid #B9A981;
                background: #FFFAF8;
                padding: 15px 20px;                                
                height: 55px;
                font-weight: 300;
                font-size: 0.9em;
                width: 100%;
            }
            &.input-full{
                label{
                    top: -18px;
                    font-size: 0.8em;
                    right: 0;
                }
            }
        }
        > input.form-submit{
            margin-top: 24px;
            border-radius: 7px;
            border: 2px solid #B9A981;
            background: #E1DDC7;
            padding: 0px 20px;                                
            height: 55px;
            font-weight: 500;
            width: 100%;
            cursor: pointer;
            transition: background 0.5s;
            &:hover{
                background-color: #B9A981;
            }
        }
    }
}