.flex{
    display: flex;
}

.banner{
    position: relative;
    .field--name-field-banner-mobile{
        display: none;
        @include res(s-m){
            display: block;
            + .field--name-field-banner{
                display: none;
            }
        }
    }
    .field--name-field-banner{
        .field--name-field-media-video-file{
            video{
                height: 100vh;
                width: 100%;
                object-fit: cover;
            }
        }
        img{
            width: 100%;
        }
    }
    .on-image{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        top: 0;
        color: #fff;
        box-sizing: border-box;
        transition: padding .5s;
        .sub-menu-open &{
            padding-right: 278px;
        }
        &:before{
            content:"";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            background: rgba(37, 37, 37,0.5);
        }
        h1, h2{
            z-index: 10;
            position: relative;
        }
    }
}

.titles-no-banner{
    h1{
        margin-top: 40px;
    }
}

h1.page-title{
    font-family: $karantina;
    font-size: 2.5em;
    .front &{
        font-size: 4.5em;
        color: $textgold;
        max-width: 350px;
        line-height: 1;
    }
}

h2.subtitle{
    max-width: 610px;
    font-size: 1.1em;
    padding-top: 10px;
}

body.front{
    .banner{
        position: sticky;
        top: 0;
    }
    .field--name-field-paragraphs{
        position: relative;
        .paragraph {
            position: sticky;
            top: 0;
            background-color: #fff;
            @media (max-height: 670px){
                position: relative;
                top: auto;
            }
            @include res(s-m-l){
                position: relative;
                top: auto;
            }
            @media (min-width: 1025px) and (max-width: 1200px) and (max-height: 760px){
                position: relative;
                top: auto;
            }
        }
    }   
    @media (min-height: 670px) and (max-height: 800px){
        .event-teaser-node{
            font-size: 0.9em;
            .field--name-field-event-who, h2, .field--name-field-teaser{
                margin-bottom: 10px;
            }
        }
        .paragraph--type--view {
            padding-top: 20px;
        }
    }
}

.field--name-field-paragraphs{
    .paragraph {
        position: relative;
        &.has-bg-color{
            padding-top: 70px;
            padding-bottom: 90px;
            @include res(s-m-l){
                padding-top: 40px;
                padding-bottom: 50px;
            }
        }
    }
}

.event-teaser-node{
    height: 100%;
    > div{
        height: 100%;
        a{
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }
    .field--name-field-thumbnail{
        margin-bottom: 15px;
        &.no-image{
            img{
                border: 1px solid #ddd;
                box-sizing: border-box;
            }
        }
    }
    .field--name-field-event-who{
        border-radius: 12px;
        background: $lightgold;
        font-weight: 500;
        display: inline-block;
        padding: 4px 15px;
        margin-bottom: 15px;
    }
    h2{
        font-weight: 500;
        font-size: 1.25em;
        margin-bottom: 10px;
    }
    .teaser{
        font-weight: 300;
        margin-bottom: 15px;
        p{
            margin: 0;
        }
    }
    .read-more{
        font-weight: 500;
        text-align: left;
        margin-top: auto;
        width: 100%;
        &:after{
            content: ">";
            margin-right: 5px;
        }
    }
}

.fallen-teaser-node{
    height: 100%;
    > div{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .image{
        margin-bottom: 15px;
        img{
            border-radius: 7px;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        }
    }
    h2{
        font-size: 0.75em;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .dates{
        font-size: 0.9em;
        margin-bottom: 20px;
    }
    .info{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .read-flag{
        margin-top: auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.75em;
        .read-more{
            font-weight: 500;
            text-align: left;
            &:after{
                content: ">";
                margin-right: 5px;
            }
        }
        .flag{
            position: relative;
            a{
                border-radius: 10px;
                border: 2px solid $bglightgold;
                background: #B9A981;
                display: flex;
                align-items: center;
                font-weight: 500;
                color: #fff;
                padding: 0 5px;
                height: 40px;
                box-sizing: border-box;
                &:after{
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    content: "";
                    background: url(/themes/yadlabanim/images/candle.png) no-repeat center #E7B153;
                    background-size: 22px;
                    margin-right: 5px;
                }
            }
            &.action-unflag{
                a{
                    pointer-events: none;
                    &:before{
                        content: "";
                        position: absolute;
                        background: url(/themes/yadlabanim/images/nizkor.gif) no-repeat;
                        width: 15px;
                        height: 28px;
                        background-size: 100%;
                        left: 12px;
                        top: -5px;
                    }
                }
            }
        }

    }
}

.splide__arrows.splide__arrows--rtl, .splide__arrows.splide__arrows--ltr{
    .splide__arrow--next, .splide__arrow--prev{
        width: 54px;
        height: 54px;
        transition: all .5s;
        opacity: 1;
        @include res(s-m-l){
            width: 40px;
            height: 40px;
        }
        svg{
            display: none;
        }
        &:disabled{
            cursor: default;
            pointer-events: none;
            opacity: 0.5;
        }
        @include res(s-m){
            display: none;
        }
    }
    .splide__arrow--next{
        background: url(/themes/yadlabanim/images/button-next.svg) no-repeat center center;
        left: 15px;
        right: auto;
        background-size: 100%;
        @include res(s-m){
            left: 5px;
        }
    }
    .splide__arrow--prev{
        background: url(/themes/yadlabanim/images/button-prev.svg) no-repeat center center;
        right: 15px;
        left: auto;
        background-size: 100%;
        @include res(s-m){
            right: 5px;
        }
    }
}