.flex{
    display: flex;
}

.banner{
    position: relative;
    .field--name-field-banner{
        .field--name-field-media-video-file{
            video{
                max-height: 100vh;
                width: 100%;
                object-fit: cover;
            }
        }
    }
    .on-image{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        top: 0;
        color: #fff;
        box-sizing: border-box;
        transition: padding .5s;
        .sub-menu-open &{
            padding-right: 278px;
        }
        &:before{
            content:"";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            background: rgba(37, 37, 37,0.5);
        }
        h1, h2{
            z-index: 10;
            position: relative;
        }
    }
}

h1.page-title{
    font-family: $karantina;
    font-size: 4.5em;
    .front &{
        color: $textgold;
        max-width: 350px;
        line-height: 1;
    }
}

h2.subtitle{
    max-width: 610px;
    font-size: 1.1em;
    padding-top: 10px;
}

body.front{
    .banner{
        position: sticky;
        top: 0;
    }
    .field--name-field-paragraphs{
        position: relative;
        .paragraph {
            position: sticky;
            top: 0;
            @media (max-height: 670px){
                position: relative;
                top: auto;
            }
        }
    }   
    @media (min-height: 670px) and (max-height: 800px){
        .paragraph--type--view .view-events.view-display-id-block_1{
            margin-top: 20px;
        }
        .event-teaser-node{
            font-size: 0.9em;
            .field--name-field-event-who, h2, .field--name-field-teaser{
                margin-bottom: 10px;
            }
        }
        .paragraph--type--view {
            padding-top: 20px;
        }
    }
}

.field--name-field-paragraphs{
    .paragraph {
        position: relative;
    }
}

.event-teaser-node{
    .field--name-field-thumbnail{
        margin-bottom: 15px;
    }
    .field--name-field-event-who{
        border-radius: 12px;
        background: $lightgold;
        font-weight: 500;
        display: inline-block;
        padding: 4px 15px;
        margin-bottom: 15px;
    }
    h2{
        font-weight: 500;
        font-size: 1.25em;
        margin-bottom: 10px;
    }
    .field--name-field-teaser{
        font-weight: 300;
        margin-bottom: 15px;
    }
    .read-more{
        font-weight: 500px;
        text-align: left;
        &:after{
            content: ">";
            margin-right: 5px;
        }
    }
}

.owl-controls{
    .owl-nav{
        position: absolute;
        top: calc(50% - 27px);
        height: 0;
        z-index: 10;
        .owl-next, .owl-prev{
            position: absolute;
            left: 18px;
            background: url(/themes/yadlabanim/images/button-next.svg) no-repeat center center;
            width: 54px;
            height: 54px;
            cursor: pointer;
            text-indent: -9999px;
            &.disabled{
                opacity: 0.5;
                cursor: default;
                pointer-events: none;
            }
        }
        .owl-next{
            left: 18px;
        }
        .owl-prev{
            right: 18px;
        }
    }
}